@tailwind base;
@tailwind components;
@tailwind utilities;

.fade {
  position: relative;
  overflow: hidden;
}

.fade::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75%; /* Adjust this value to change where the fade starts */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); /* Adjust colors to match your background */
}

.active-navdashboard-tab {
  background-color: white;
  border-radius: 50%;
  width: 40px; /* Adjust the width and height as per your requirement */
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active-navdashboard-tab svg {
  fill: black;
}
@media (min-width: 768px) {
  .mobile-image {
    display: none;
  }
}
@media (max-width: 767px) {
  .desktop-image {
    display: none;
  }
}



.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-content {
  max-width: 80%;
  max-height: 80%;
}

.overlay-content img {
  max-width: 100%;
  max-height: 100%;
}

.space-between-categories {
  padding-top: 5px;
  padding-bottom: 10px;
}
.space-under-category-titles {
  padding-bottom: 20px;
}
